body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;    
    background-color: #f5f5f5;
    margin: 0;
}
.main-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.site-name {
    /*margin: 50px;*/
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gridview-container {
    max-width: 100%;
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.upload {
    display: inline-block;
    float: right;
    margin-top: 1%;
}
.custom-gridview {
    border-collapse: collapse;
    width: 20%;  
    margin-left:30%;
}
    .custom-gridview th,
    .custom-gridview td {
        padding: 5px;
        font-size: small;
    }
    .custom-gridview th {
        background-color: #a6c5ff;
        font-weight: bold;
        text-align: left;
    }
.custom-gridview-row {
    background-color: #fff;
}
.custom-gridview-selectedrow {
    background-color: #a6c5ff;
}
.form-container {
    display: none;
    max-width: 600px;
    margin: 20px auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35% !important;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.HideColumns {
    display: none;
}
.gridview-pager {
    margin-top: 10px;
    text-align: center;
}
    .gridview-pager a {
        display: inline-block;
        padding: 4px 4px;
        margin: 0 1px;
        text-decoration: none;
        color: #333;
        background-color: #a6c5ff;
        font-size: medium;
        font-weight: 500;
        border: 2px solid #ddd;
        border-radius: 3px;
    }
        .gridview-pager a.active {
            background-color: #007bff;
            color: #fff;
        }
    .gridview-pager button {
        display: inline-block;
        padding: 8px 12px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
    }
        .gridview-pager button[disabled] {
            background-color: #ddd;
            color: #666;
            cursor: not-allowed;
        }
.MBSform-control {
    display: block;
    width: 25%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-left: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block
}
.UpdatedRowHighlight {
    background-color: yellow;
}
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-left: 50%;
}
.show {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
.panelClass {
    width: 100%;
    background-color: #c4cfcf;
    padding: 30px;
    border-radius: 2px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.import-button {
    background-color: #4280a9;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    padding: 6px;
}
    .import-button:hover{
        background-color:lightblue;
    }
.save-button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
    border-radius: 5px;
    cursor: pointer;
    padding:10px;
}
.show {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
